/*--------------------
Footer Styles 
----------------------*/

.footer-wrapper {
    position: relative;
}

.footer-style-01 {
    .footer-link {
        h4 {
            font-weight: 500;
            margin-bottom: 30px;
            color: var(--color-white);
            font-size: 20px;
            @media #{$sm-layout} {
                margin-bottom: 14px;
            }
        }
        ul {
            &.ft-link {
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    color:#757575;
                    font-size: 16px;
                    a {
                        @extend %transition;
                        @extend .im-hover;
                        color:#bfbdbd;
                        font-size: 16px;
                        padding: 5px 0;
                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                    &+li {
                        margin-top: 13px;
                        @media #{$sm-layout} {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
    .ft-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .logo {
            margin-bottom: 25px;
        }
        p {
            color: #bfbdbd;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 1px;
            a {
                color: #bfbdbd;
                @extend .im-hover;
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
}

.im-separator {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        background-color: var(--color-opacity-1);
        max-width: 1230px;
        height: 1px;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
